.recipe-tiles {
  flex-wrap: wrap;
  .recipe-tile {
    margin: 25px 0px !important;
    .recipe-link {
      height: 330px;
      margin: 0 5%;
      padding: 8px;
    }
    .recipe-image-link {
      display: block;
    }
    img {
      max-height: 100%;
    }
  }
}

@media (max-width: 760px) {
  .recipe-tile {
    width: 100%;
    margin: 0;
  }
}
