<div *ngIf="!stillSearching">
  <div *ngIf="isEmptyList" class="has-text-centered">
    <p id="found-no-recipe" class="is-size-4">Sorry, found no recipe for <strong>{{value}}</strong> {{filter}} 😔 </p>
    <p class="is-size-3">❌🍗❌</p>
  </div>

  <div *ngIf="!isEmptyList">
    <div class="has-text-centered">
      <p id="found-recipe" class="is-size-4">Found recipes {{recipesNumber}} for <strong>{{value}}</strong>
        {{filter}} 👌</p>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-parent recipe-tiles">
        <div class="tile is-child is-3 recipe-tile" *ngFor="let recipe of recipes">
          <a class="box button is-link is-outlined recipe-link" href="/recipe?recipeId={{recipe.idMeal}}">
            <img src="{{recipe.strMealThumb}}" alt="Recipe image">
            <p>{{recipe.strMeal}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>