<div class="columns" *ngIf="loadedRecipe">
 <div class="column"></div>
 <div class="column is-two-fifths">
   <img src="{{dataSource.strMealThumb}}" alt="Recipe image" height="350" width="350">
   <div *ngFor="let ingredient of dataSource.ingredients">
      <div class="columns">
         <div class="column">{{ingredient.name}}</div>
         <div class="column">{{ingredient.measure}}</div>
      </div>
   </div>
 </div>
 <div class="column is-two-fifths">
    <p class="is-size-3">{{dataSource.strMeal}}</p>
    <p>{{dataSource.strInstructions}}</p>
    <div class="columns">
      <div class="column">Category</div>
      <div class="column"><span class="tag is-warning">{{dataSource.strCategory}}</span></div>
    </div>
    <div class="columns">
      <div class="column">Tags</div>
      <div class="column"><span class="tag is-primary">{{dataSource.strTags}}</span></div>
    </div>
 </div>
 <div class="column"></div>
</div>
